Receiver.hs does not support fragmentation

RFC 5246, Section 6.2.1 states:

```
The record layer fragments information blocks into TLSPlaintext
records carrying data in chunks of 2^14 bytes or less.  Client
message boundaries are not preserved in the record layer (i.e.,
multiple client messages of the same ContentType MAY be coalesced
into a single TLSPlaintext record, or a single message MAY be
fragmented across several records).
```

[Receiving.hs](https://github.com/vincenthz/hs-tls/blob/master/core/Network/TLS/Receiving.hs) does not conform to this instruction, nor can any function with the type

``` haskell
    processPacket :: Context -> Record Plaintext -> IO (Either TLSError Packet)
```

possibly do so. While <tt>change_cipher_spec</tt> messages are a single byte and <tt>application_data</tt> records have no structure, so therefore messages with these content types cannot possibly be fragmented, it is possible for <tt>alert</tt> and <tt>handshake</tt> messages to span multiple records or for multiple such messages to be contained within a single record. The current implementation of <tt>processPacket</tt> does not allow handshake messages to span record boundaries, and expects a precise 1:1 relationship between alert messages and alert records.

In order to produce spec-conformant behavior, the signature of <tt>processPacket</tt> needs to change somehow to reflect the arbitrary many-to-many relationship between records and messages. Conduits or Machines might provide a suitable abstraction for this.
